div.grille {
   display: flex;
   flex: 1 1 auto;
   justify-content: space-between;
   flex-direction: column;
   line-height: 1;

   & ul,
   & ol {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style-type: none;
      counter-reset: no;
      order: 10;
   }

   & li {
      min-height: 1.7em;
      display: flex;
      flex: 1 0 auto;
      counter-increment: no;
      justify-content: space-between;
   }
   div.titre {
      display: flex;
      justify-content: space-between;
      &::before {
         display:none;
      }
      & *[data-pts] {
         &::before {
            content: "/" attr(data-pts);
         }
      }
   }

   &.niveau-0 {
      flex-direction: column;

      & > div.titre {
         display: flex;
         justify-content: space-between;
         font-weight: bold;
         font-family: arial;
         font-size: 1.5em;
         margin-bottom: .25em;
         .valeur {
            display: none;
         }
      }

      & > ol {
         //				Spécifique au synthese. Valider pour les autres
         display: grid;
         grid-template-columns: repeat(var(--colonnesInternes), 1fr);
         grid-gap: var(--gap, 1em);
         justify-content: space-between;
         align-items: flex-start;
         align-content: var(--align);
      }
   }

   &.niveau-1 {
      & > div.titre {
         background-color: hsl(0, 0%, 85%);
         padding: .25ch;
         font-weight: bold;
         font-family: arial;
         // font-size: 1.2em;
         margin-bottom: .2ch;

         //				margin-top: 1em;
         &::before {
            content: counter(no, decimal) ". ";
         }
      }

      & > ol {
         & > li {
            flex: 0 0 auto;
            // margin: .1em 0;
         }
      }
   }

   &.niveau-3.leaf {
      position: relative;
      $left: 5px;
      padding-left: $left*2;
   }

   &:not(.leaf) {
      & > .titre {
         font-weight: bold;
      }
   }

   &.leaf {
      flex-direction: row-reverse;
      align-items: center;
      line-height: .9em;
      // border-bottom: 1px solid #999;

      & > div.titre {
         flex: 1 1 0;
      }

      & > div.valeur {
         display: flex;
         width: 3em;
         // height: 1.5em;
         justify-content: flex-end;
         align-items: flex-end;
         margin-right: .25em;
         min-height: calc(var(--hauteur-trou) * 1pt);
         background-color: white;
         @include encadre;

         &::after {
            font-size: 9pt;
            content: "/" attr(data-pts);
            text-align: right;
         }

         &[data-pts='0']::after {
            content: "\a0";
         }
      }
   }
}
